#container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

#container > div {
    flex: 1;
}

#container > .canvas_containter {
    /* Declare your value. Can be in relative units. */
    display: inline-block;
    vertical-align: top;
    *display: inline;
}

#container > .button_container {
    /* Declare your value. Can be in relative units. */
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: top;

}

.button_container > button {
    width: 50%;
    align-self: center;
    margin: 5px;
}

.slidecontainer {
    width: 80%;
    align-self: center;
    margin: 20px;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0d98ba;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0d98ba;
    cursor: pointer;
}

